<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528066983929-vd5m5qgtkhggouoetr7kjcskgt37jvpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528066983929-vd5m5qgtkhggouoetr7kjcskgt37jvpd</string>
	<key>API_KEY</key>
	<string>AIzaSyAodsFaXr47Z0Fn2eRgSi3raSffqoAz2rk</string>
	<key>GCM_SENDER_ID</key>
	<string>528066983929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saki.kambayashi.ShareStudy.</string>
	<key>PROJECT_ID</key>
	<string>sharestudy-e58f3</string>
	<key>STORAGE_BUCKET</key>
	<string>sharestudy-e58f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528066983929:ios:b17cfc2ad271d351c02f28</string>
</dict>
</plist>